<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header') %>
    <section class="hero">
        <h2>Bienvenidos al evento más esperado del año</h2>
        <p>Conocé a nuestras candidatas, votá por tu favorita y viví una experiencia única llena de elegancia, simpatía y juventud.</p>
        <a href="/candidatas/listCandidatas" class="btn-register">Ver Candidatas</a>
      </section>
    
      <section class="candidatas">
        <h2>Nuestras Candidatas Mas Recientes</h2>
        <div class="cards">
            <% if(candidatas.length > 0) { %>
                <% for(let i = 0; i < candidatas.length; i++){ %>
          <div class="card">
            <img src="/images/candidatas/<%= candidatas[i].img_candidata %>" alt="Candidata <%= i %>">
            <h3><%= candidatas[i].nombre %></h3>
            <p>Representando a <%= candidatas[i].curso %></p>
          </div>
                <% } %>
            <% }else{ %>
              <h4>No hay candidatas registradas</h4>
            <% } %>
          <!-- Puedes seguir agregando más candidatas -->
        </div>
      </section>
    <%- include('./partials/footer') %>
</body>
</html>