<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
        <%- include('../partials/header') %>
         <section class="candidatas">
    <h2>Postulantes a Princesa</h2>
    <div class="cards">
      <% if(candidatas.length > 0) { %>
        <% for(let i = 0; i < candidatas.length; i++){ %>
          <div class="card">
        <img src="/images/candidatas/<%= candidatas[i].img_candidata %>" alt="Candidata<%= i %>">
        <h3><%= candidatas[i].nombre %></h3>
        <p>Representando a <%= candidatas[i].curso %></p>
      </div>
        <%  } %>
      <% }else{ %>
            <h2 class="none-title">No se han encontrado Candidatas.</h2>
      <% } %>
      <!-- Podés seguir agregando más candidatas -->
    </div>
  </section>
        <%- include('../partials/footer') %>
          <script src="/js/register-login.js"></script>
</body>
</html>